@import "colors.css";

* {
  font-family: monospace, sans-serif, serif;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 4px 4px;
}

#workspaces {
  border-radius: 1rem;
  margin: 4px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 4px;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#tray,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#wireplumber,
#language,
#custom-music,
#custom-hyprpicker,
#custom-randwall {
  background-color: @surface0;
  padding: 0.25rem 1rem;
  margin: 5px 0;
  border-radius: 1rem 0 1rem 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#wireplumber {
  color: @maroon;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-randwall {
  color: @sapphire;
  border-radius: 1rem;
}

#tray {
  border-radius: 1rem 0;
}
